/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
}

.coin-container {
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .coin-container {
    max-width: 500px;
    padding: 60px;
  }
}

.heading {
  color: #a35200;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
    margin-bottom: 12px;
  }
}

.description {
  color: #334155;
  font-size: 22px;
  font-weight: 700;
  margin-top: 6px;
}

.image {
  width: 40%;
}

.btn {
  background-color: #e2a139;
  color: #a35200;
  border-radius: 6px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 14px;
  outline: none;
  cursor: none;
}

.totals-container {
  display: flex;
  flex-direction: row;
  padding: 12px;
  align-items: center;
}

.count {
  color: #475569;
  margin-left: 20px;
  margin-right: 20px;
}
